.home {
    display: flex;
    justify-content: space-between;
}

.text {

    padding-top: 138px;
    padding-left: 25px;
    margin: 30px;
    font-size: xxx-large;
    font-weight: bolder;
}

.roleName {
    color: darkmagenta;
    font-size: xxx-large;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid darkmagenta;
    width: 0ch;
    animation: typing 3s steps(22) 1s infinite alternate, blink 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0ch;
    }

    to {
        width: 23ch;
        /* number of characters in your text */
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.shortDescription {
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 32px;
}

.shortDescriptionNote {
    font-size: 27px;
    font-weight: bolder;
    padding-left: 39px;
    padding-top: 12px;
}

.image {
    width: 800px;
    height: 900px;
}

.htmlLogo{
    padding-left: 0px;
    padding-top: 20px;
}

.htmlLogoBelow{
    padding-left: 88px;
    padding-bottom: 0px;
}

.logo{
    padding:25px;
    width:135px;
    height:135px;
    margin-left: 49px;
}

.logoBelow{
     padding:35px;
    width:135px;
    height:135px;
}