.full-nav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color : purple;
    color: aliceblue;
    align-items: center;
    height: 95px;
}

.logo{
    display: flex;
    padding: 5px;
    border-radius: 35px;
}

.company-name{
    display: flex;
    padding: 5px;
    color: aliceblue;
    font-size : 20px;
    font-weight: bold;
    align-items: center;
}

/* .nav-menu{
    justify-content: center;
    align-items: center;
} */

.nav-menu {
  display: flex;
  align-items: center;
}

.list-nav{
    display: flex;
    list-style: none;
    padding-top: 8px;
    margin: 20px;
}


.item {
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px 35px;
  border-radius: 5px;
}


.item:hover {
  color: white;
  background-color: #007bff;
}